* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.header {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #3e8e41;
    text-align: center;
}

.navbar {
    margin: 10px 0;
}

.navbar a {
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
   
}

.card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.card h2 {
    color: #333;
}
.card p {
    color: #666;
}       
.styled-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.styled-button:hover {
    background-color: #005f73;      
}
.footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border-top: 2px solid #aaa;
}
